.testimonial-card-body{
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    border: 1px solid #EBEBEB;
    /* align-items: center; */
    /* width: 60px;
    height: 70px; */


}

.testimonial-card{
  
display: flex;
flex-direction: column;
align-content: flex-start;
justify-content: center; 
align-items: left;
/* align-items: center;  */
padding-left: 1rem;

width: 380px;
height: 367px;


background: #FFFFFF;
border: 1px solid #EBEBEB;
box-sizing: border-box;
border-radius: 10px;
}

.testimonial-card-rating{
    display: flex;
    color:  #FBB040;
    text-align: left;
    column-gap: 0.5rem;
    /* float: left; */
    /* width: 17.45px;
    height: 16.36px; */
   
    /* border-radius: 0.25px; */
    }

.testimonial-card-witness{
    display: flex;
    /* align-content: flex-start;
    align-items: flex-start;
    align-self: flex-start;
    justify-content: flex-start; */
}


.testimonial-card-text{
    width: 270px;
    height: 112px;
    margin-top: 3rem;

    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    /* or 175% */
    color: #333333;
    text-align: left;
    margin-bottom: 4rem ;
}