.search{
    margin-top: 3rem;
    
}

button {
    border-radius: 0;
    width: 18rem;
    height: 8.6rem;
    /* border: 5px solid blue; */
    border: none;
    background-color: #F85A47;
    cursor: pointer;
    position: relative;
    z-index: 100000;
    
   
}

input{
    width: 30rem;
    height: 8.1rem;
    /* margin-left: 13.5rem; */
    margin-top: 5rem;
    z-index: 10000000;
}

.search-input{
   
}


.search-button{
    z-index: 10000;
}

